@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Fira Sans", serif;
}
body{
    margin: 25px 210px;
    background-color: #F5F5F5;
}

/* Nav */
nav{
    display: flex;
    justify-content: space-between;
}
nav h1{
    font-size: 32px;
    font-weight: bold;
}
.sign_in{
    padding: 15px 30px;
    color: #006A50;
    background: none;
    border: 1px solid #006A50;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease;
}
.sign_in:hover{
    background-color: #006A50;
    color: white;
}
.banner{
    margin-top: 65px;
    display: flex;
    gap: 65px;
    background-color: #C6E4D6;
    justify-content: space-between;
    padding: 100px;
    border-radius: 25px;
}
.banner_title{
    width: 622px;
}
.banner_title h4{
    font-size: 28px;
}
.banner_dec{
    font-size: 55px;
    font-weight: bold;
    padding: 24px 0;
}

/* common style */
.common_button{
    font-size: 18px;
    padding: 18px 35px;
    font-weight: 600;
    color: white;
    background-color: #006A50;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease;
}
.common_button:hover{
    background-color: #1e9174;
}
.heading{
    margin-top: 80px;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 35px;
}
.common_dec{
    color: #0e0e0e85;
}
/* section 1 */
.box{
    padding: 25px;
    background-color: #fff;
    border-radius: 16px;
}
.box h5{
    font-size: 20px;
    margin-bottom: 12px;
    margin-top: 24px;
}
.box_head{
    display: flex;
    gap: 25px;
}

/* section 2 */
.card_head{
    margin: 32px 0;
    display: flex;
    gap: 25px;
}
.card1{
    background-color: #548ff574;
    padding: 32px;
    border-radius: 16px;
}
.card2{
    background-color: #C6E4D6;
}
.card3{
    background-color: #F7EBCF;
}
.card h5{
    font-size: 20px;
    font-weight: bold;
    padding: 25px 0;
}
.card1_btn{
    padding: 10px 20px;
    color: white;
    margin-top: 25px;
    background-color: #5490F5;
    border: none;
    border-radius: 8px;
    transition: 0.2s ease;
}
.card1_btn:hover{
    background-color: #2d69d1;
}
.card2_btn{
    background-color: #09A15C;
}
.card2_btn:hover{
    background-color: #046b3c;
}
.card3_btn{
    background-color: #FFC239;
}
.card3_btn:hover{
    background-color: #c3911c;
}
.card_head h5{
    font-size: 20px;
    font-weight: bold;
    margin: 24px 0;
}