@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Fira Sans", serif;
}
body{
    background-color: #F5F5F5;
}
main{
    margin: 35px 210px;
}
header{
    margin: 35px 210px;
}
/* Nav */
nav{
    display: flex;
    justify-content: space-between;
}
nav h1{
    font-size: 32px;
    font-weight: bold;
}
.sign_in{
    padding: 15px 30px;
    color: #006A50;
    background: none;
    border: 1px solid #006A50;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease;
}
.sign_in:hover{
    background-color: #006A50;
    color: white;
}
.banner{
    margin-top: 65px;
    display: flex;
    gap: 65px;
    background-color: #C6E4D6;
    justify-content: space-between;
    padding: 100px;
    border-radius: 25px;
}
.banner_title{
    width: 622px;
}
.banner_title h4{
    font-size: 28px;
}
.banner_dec{
    font-size: 55px;
    font-weight: bold;
    padding: 24px 0;
}

/* common style */
.common_button{
    font-size: 18px;
    padding: 18px 35px;
    font-weight: 600;
    color: white;
    background-color: #006A50;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease;
}
.common_button:hover{
    background-color: #1e9174;
}
.heading{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 35px;
}
.common_dec{
    color: #0e0e0e85;
}
/* section 1 */
.section_1{
    margin-top: 80px;
}
.box{
    padding: 25px;
    background-color: #fff;
    border-radius: 16px;
}
.box h5{
    font-size: 20px;
    margin-bottom: 12px;
    margin-top: 24px;
}
.box_head{
    display: flex;
    gap: 25px;
}

/* section 2 */
.section_2{
    margin-top: 80px;
}
.card_head{
    margin: 32px 0;
    display: flex;
    gap: 25px;
}
.card1{
    background-color: #548ff574;
    padding: 32px;
    border-radius: 16px;
}
.card2{
    background-color: #C6E4D6;
}
.card3{
    background-color: #F7EBCF;
}
.card h5{
    font-size: 20px;
    font-weight: bold;
    padding: 25px 0;
}
.card1_btn{
    padding: 10px 20px;
    color: white;
    margin-top: 25px;
    background-color: #5490F5;
    border: none;
    border-radius: 8px;
    transition: 0.2s ease;
}
.card1_btn:hover{
    background-color: #2d69d1;
}
.card2_btn{
    background-color: #09A15C;
}
.card2_btn:hover{
    background-color: #046b3c;
}
.card3_btn{
    background-color: #FFC239;
}
.card3_btn:hover{
    background-color: #c3911c;
}
.card_head h5{
    font-size: 20px;
    font-weight: bold;
    margin: 24px 0;
}

/* section3 */
.section_3{
    margin-top: 80px;
}
.bd_dec{
    background-image: url("assets/quote-bg.png");
    background-repeat: no-repeat;
    background-color: white;
    background-position: 2% 15%;
    padding-left: 30px;
    border-radius: 16px;
    padding-bottom: 50px;
}
.sec3_title{
    padding-top: 60px;
}
.bd_dec h5{
    font-size: 20px;
    font-weight: 600;
    padding: 12px 0;
}

/* section4 */
.section_4{
    margin-top: 80px;
}
.news1{
    display: flex;
    background-color: white;
    padding: 50px;
    gap: 35px;
    border-radius: 25px;
    margin: 35px 0;
}
.news1 img{
    border-radius: 24px;
}
.news1 h3{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 15px;
}
.date{
    padding: 15px 0;
}
.news1 span{
    padding-left: 15px;
}
.news_dec{
    padding-bottom: 35px;
}

/* section 5 */
.section_5{
    margin-top: 80px;
}
.center{
    text-align: center;
}
.donate_headbox{
    display: flex;
    gap: 24px;
    justify-content: center;
    margin: 35px 0;
}
.donate_box{
    font-size: 40px;
    font-weight: bold;
    border-radius: 16px;
    padding: 40px;
    background-color: white;
    border: 1px solid gray;
    transition: 0.3s ease;
    cursor: default;
}
.donate_box2{
    background-color: #C6E4D6;
}
.donate_box:hover{
    background-color: #C6E4D6;
}
.section_5 input{
    width: 100%;
    padding: 20px 0;
    text-align: center;
    border: none;
    font-size: 20px;
}
.done_btn{
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

/* section 6 */
.section_6{
    margin-top: 80px;
    background-color: #C6E4D6;
    border-radius: 24px;
}
.subscribe{
    padding: 80px 265px;
}
.sub_head{
    margin-bottom: 16px;
}
.input_btn{
    display: flex;
    padding: 25px 0;
}
.input_btn input{
    width: 100%;
    padding: 18px 40px;
    border: 0;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.Subscribe_btn{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/* footer */
footer{
    margin-top: 80px;
    background-color: white;
}
.footer{
    padding: 50px 210px;
}
.bangladesh{
    padding-bottom: 32px;
    margin-bottom: 0;
}
.social_icon{
    display: flex;
    justify-content: center;
    margin-top: 32px;
    gap: 25px;
}